<h2> What is your name? </h2>
<!-- <div style ='background: blue;'> -->
<form action="/named-meme" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
<!-- </div> -->
